.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
body,
h1,
h2,
h3,
h4,
h5,
h6,
html {
 font-family:Montserrat,sans-serif;
 font-weight:300
}
body,
html {
 color:#555;
 height:100%
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
 margin-top:0;
 color:#333
}
.no-padding {
 padding:0
}
.row {
 margin:0
}
.services .icon {
 padding:0
}
  
  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin: 0 10px;
  }
  
  a {
    color: #000;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
  }
  
  a:hover {
    text-decoration: underline;
    color: #8DB2C6;
  }

  body {
    margin: 0;
    padding: 0;
  }
  
  nav {
    text-align: center;
    background-color: #ffffff;
    padding: 0px;
    padding-top: 25px;
    display: flex;
    justify-content: center;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
  }

  .bg-image {
    background-image: url("backgroundimage.png");
    height: calc(100vh - 60px);
    padding-top: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 25px solid #fff;
  }  
  .text-box {
    display: inline-block;
    align-items: center;
    background-color: rgba(255, 255, 255, 1);
    margin-left: 25px;
    padding: 25px;
    border-radius: 0px;
    text-align: center;
    width: 220px;
    height: 110px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .text-box h1 {
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
    font-size: 48px;
    margin: 0;
    color: #000000;
  }

  header {
    position: fixed;
    width: 100%;
    height: 70px;
    z-index: 99;
    background-color: #fff;
  }

  .about {
    background: #F0B1A8;
    width: 100%;
  }
  
  .about h2 {
    font-size: 35px;
    color: white;
    text-decoration: underline;
    display: inline-block;
    padding-top: 70px;
    padding-left: 100px;
    margin-bottom: 15px;
  }
  
  .about p {
    color: white;
    padding-left: 100px;
    flex-grow: 1;
    margin-bottom: 20px;
    padding-bottom: 70px;
  }
  
  .about-me-image {
    position: relative;
    width: 350px;
    height: 350px;
    float: right;
    padding-left: 50px;
    padding-right: 100px;
    margin-top: -100px;
  }
 
  .experience {
    background: white;
    width: 100%;
    padding-bottom: 70px;
  }
  
  .experience h2 {
    font-size: 35px;
    color: black;
    text-decoration: underline;
    display: inline-block;
    padding-top: 70px;
    padding-left: 100px;
    margin-bottom: 15px;
  }

  .experience h3 {
    padding-left: 100px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 100px;
  }
  
  .experience p ul {
    color: black;
    padding-left: 100px;
    flex-grow: 1;
    margin-bottom: 70px;
    padding-bottom: 70px;
  }

  .experience strong {
    color: #F0B1A8;
    font-weight: 700px;
  }

  .experience ul {
    width: 300px;
    word-wrap: break-word;
    list-style-type: disc;
    padding-left: 115px;
  }
  
  .experience-content {
    display: flex;
    justify-content: space-between;
    padding-right: 100px;
  }

  .experience-columm {
    flex-basis: 30%;
    padding: 10px;
  }

  .skills {
    background: #36494E;
    width: 100%;
    padding-bottom: 70px;
  }
  
  .skills h2 {
    font-size: 35px;
    color: white;
    text-decoration: underline;
    display: inline-block;
    padding-top: 70px;
    padding-left: 100px;
    margin-bottom: 15px;
  }

  .skills h3 {
    color: white;
    padding-left: 100px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 100px;
  }
  
  .skills p ul {
    color: white;
    padding-left: 100px;
    flex-grow: 1;
    margin-bottom: 70px;
    padding-bottom: 70px;
  }

  .skills ul {
    color: white;
    width: 300px;
    word-wrap: break-word;
    list-style-type: disc;
    padding-left: 115px;
  }
  
  .skills-content {
    display: flex;
    justify-content: space-between;
    padding-right: 100px;
  }

  .skills-columm {
    flex-basis: 30%;
    padding: 10px;
  }

  .portfolio {
    background: #8DB2C6;
    width: 100%;
    padding-bottom: 70px;

  }

  .portfolio h2 {
    font-size: 35px;
    color: white;
    text-decoration: underline;
    display: inline-block;
    padding-top: 70px;
    padding-left: 100px;
    margin-bottom: 15px;
  }

  .portfolio-content {
    padding-top: 20px;
    padding-left: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .portfolio-content a {
    position: relative;
    display: block;
    width: 270px;
    height: 270px;
    margin-right: 50px;
  }

  .portfolio-content a:last-child {
    margin-right: 100px;
  }

  .portfolio-content img {
    width: 100%;
    height: 100%;
  }

  .image-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: rgba(196,214,226,.9);
    text-align: center;
    display: none;
    transition: .5s ease;
  }
  
  .portfolio-content a:hover .image-overlay {
    display: block;
  }

  .overlay-text-h3 {
    color: black;
    font-size: 24px;
    text-align: center;
    bottom: 40%;
    left: 50%;
    transform: translate(0%, 80%);
    font-weight: bold;
  }

  .overlay-text-h4 {
    color: black;
    font-size: 14px;
    text-align: center;
    bottom: 20%;
    left: 50%;
    transform: translate(0%, 100%);
  }
  
  .portfolio-content h2 {
    font-size: 35px;
    color: white;
    text-decoration: underline;
    display: inline-block;
    padding-top: 70px;
    margin-bottom: 15px;
  }

  .contact-me {
    background: #36494E;
    width: 100%;
    padding-bottom: 70px;
  }

  .contact-me h2 {
    font-size: 35px;
    color: white;
    text-decoration: underline;
    display: inline-block;
    padding-top: 70px;
    padding-left: 100px;
    margin-bottom: 15px;
  }

  .contact-me p {
    color: white;
    padding-left: 100px;
  }

  .contact-me a {
    color: white;
  }

  .contact-me a:hover {
    color: #8DB2C6;
  }

  footer {
    padding-top: 30px;
    padding-left: 100px;
    font-size: 16px;
  }

  footer p {
    padding-bottom: 35px;
  }

  footer a{
    font-size:16px;
  }
  footer h6 {
    font-size:16px;
    text-align: center;
  }